@charset "UTF-8"; @import "./reset.css"; @import "./navi.css";

/* swiper .swipe-wrapper */
main section .swiper {
    width: 100vw;
    height: 34.7vh;

    position: absolute;
    top: 10vh;
    left: 0;
}
main section .swiper .swipe-wrapper {
    width: 100vw;
    height: 34.7vh;
    background-color: var(--lighten-2-color);

    position: absolute;
    top: 10vh;
    left: 0%;
}
section .swiper .swipe-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.swiper-pagination-progressbar {
    top: auto;
    bottom: 0;
    background: var(--lighten-2-color) !important;
}
.swiper-pagination-progressbar-fill {
    top: auto;
    bottom: 0;
    background: var(--primary-color) !important;
}

/* category */
main section .category {
    width: 100%;
    height: 45vh;

    margin-top: calc(35vh + 8vh);
}
main section .category div {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: space-between;
}
main section .category a {
    display: block;
    width: 19%;
    height: 90%;
    text-align: center;
    border: 1px solid white;
    border-radius: 15px;
    background-color: var(--lighten-2-color);
}
