<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='UTF-8'>
    <title>COSMAKE HOME</title>
    <link rel='stylesheet' href='../css/home.css'>
    <script defer src="../js/navi.js"></script>
</head>
<body>
    <main>
            <!-- NAVIGATION BAR -->
            <header>
                <img src="../img/Logo 01.png" alt="COSMAKE LOGO">
                <input type="text" class="search">
            <nav>
                <img src="../icons/search.png" alt="" class="search-icon">
                <img src="../icons/shopping-cart.png" alt="" class="shop-icon">
                <img src="../icons/user.png" alt="" class="user-icon">
            </nav>
            <!-- user details -->
            <!-- <div class="user-details">
               <span>서이준</span>
               <p>마이페이지</p>
               <p>최근 본 상품</p>
               <p>관심 상품</p>
               <p>고객센터</p>
               <p>로그아웃</p>
            </div> -->
        </header>
        <!-- section -->
        <section>
            <!-- slide -->
            <article class="slide">
                <div class="slide-1">
                    <img src="../img/cosmetic-slide1.jpg" alt="">
                </div>
                <div class="slide-2">
                    <img src="../img/cosmetic-slide2.jpg" alt="">
                </div>
                <div class="slide-3">
                    <img src="../img/cosmetic-slide3.jpg" alt="">
                </div>
                <div class="slide-4">
                    <img src="../img/cosmetic-slide4.jpg" alt="">
                </div>
            </article>
            <!-- category -->
            <article class="category">
                <div class="row-1">
                    <a href="" class="category-1"></a>
                    <a href="" class="category-2"></a>
                    <a href="" class="category-3"></a>
                    <a href="" class="category-4"></a>
                    <a href="" class="category-5"></a>
                </div>
                <div class="row-2">
                    <a href="" class="category-6"></a>
                    <a href="" class="category-7"></a>
                    <a href="" class="category-8"></a>
                    <a href="" class="category-9"></a>
                    <a href="" class="category-10"></a>
                </div>
            </article>
        </section>
    </main>
</body>
</html>