<!DOCTYPE html>
<html lang='ko'>
<head>
    <meta charset='UTF-8'>
    <title>COSMAKE - SIGNUP</title>
    <link rel='stylesheet' href='../css/sign.css'>
</head>
<body>
    <main>
        <!-- NAVIGATION BAR -->
       <header>
               <img src="../img/Logo 01.png" alt="COSMAKE LOGO">
           <nav>
               <img src="../icons/search.png" alt="">
                <img src="../icons/shopping-cart.png" alt="">
                <img src="../icons/user.png" alt="">
           </nav>
       </header>
       <!-- FORM -->
       <section>
           <article>
               <img src="../img/Logo 02.png" alt="COSMAKE LOGO" class="cosmake-logo">
               <form action="#" class="regist-form">
                   <fieldset>
                       <legend>REGIST FORM</legend>

                       <div class="login-id">
                       <input type="text" id="login-id" name="login-id" placeholder="cosmake@makeup.co.kr">
                    </div>
                    <div class="login-pwd">
                       <input type="password" id="login-pwd" name="login-pwd" placeholder="영문, 숫자, 특수문자 조합 8~16자">
                       <img src="../icons/check-circle.png" alt="">
                    </div>  
                       <div class="phone">
                        <input type="tel" id="phone" name="phone" placeholder="010-1234-1234">
                        <img src="../icons/xmark-circle.png" alt="">
                        </div>
                       <div class="age-valid">
                        <input type="checkbox" id="age-valid" name="age-valid">
                            <label for="age-valid">[필수] 만 14세 이상이며 모두 동의합니다</label>
                        </div>
                        <div class="advert-valid">
                       <input type="checkbox" id="advert-valid" name="advert-valid">
                       <label for="advert-valid">[선택] 광고성 정보 수신에 모두 동의합니다</label>
                    </div>
                       <input type="submit" value="회원가입">
                   </fieldset>
               </form>
           </article>
       </section>
   </main>
    
</body>
</html>